* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.dice {
    width: 150px;
    height: 150px;
    background-size: contain;
}

img {
    object-fit: cover;
    width: 150px;
    height: 150px;
}